<p id="notice"><%= notice %></p>

<h2>
  <%= @article.title %>
</h2>

<h5>
  <%= @article.author.name %>
</h5>

<p>
  <%= @article.created_at.strftime('%B %d, %Y') %>
</p>

<pre>
  <%= @article.content %>
</pre>

<% if @article.author == current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>

<% @comments.each do |comment| %>
  <div>
    <p><strong><%= comment.user.name %></strong></p>
    <p><%= comment.created_at.strftime('%B %d, %Y') %></p>
    <p><%= comment.content %></p>
    <% if comment.user == current_user %>
      <%= link_to 'Edit', edit_comment_path(comment) %>
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
<%= link_to 'New Comment', new_article_comment_path(@article) %>