.container.pt-4.pb-2
  %p#notice= notice
  .row.mt-5
    .col-md-12
      %h2.text-justify
        = @article.title
      .d-flex.justify-content-between
        %p
          %span.mr-3
            = fa_icon "user"
            = @article.author.name
          %span.text-muted
            = fa_icon "calendar"
            = @article.created_at.strftime('%b %-d, %Y')
        %div
          - if @article.author == current_user
            = link_to 'Edit', edit_article_path(@article)
            |
            = link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }
            |
          = link_to 'Back', :back
  .row.my-3
    .col-md-12.d-flex.justify-content-center
      %pre.lead.text-justify= word_wrap(@article.content)
  .row.my-3
    .col-md-12.d-flex.justify-content-end
      - @article.tags.each do |t|
        .div.px-2.py-1.m-1.border.border-danger.rounded.text-danger
          = t.category
  .row.my-2
    .col-md-12.d-flex.flex-column.align-items-center
      .w-75.d-flex.justify-content-between.align-items-center
        %h4 Comments
        = link_to 'Write a comment', new_article_comment_path(@article)
      - @comments.each do |comment|
        .bg-light.p-3.my-3.w-75
          .comment-header.d-flex.justify-content-between
            %p
              %strong.mr-3.d-block
                = fa_icon "user"
                = comment.user.name
              %span.text-muted.d-block
                = fa_icon "calendar"
                = comment.created_at.strftime('%b %-d, %Y')
            - if comment.user == current_user
              %div
                = link_to edit_comment_path(comment) do
                  = fa_icon "edit"
                |
                = link_to comment, method: :delete, data: { confirm: 'Delete comment?' } do
                  = fa_icon "trash"
          %p= comment.content
